@charset "UTF-8";

* {
 padding: 0;
 margin: 0;
}

body {
 font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
 color: #333333;
 font-size: 12px;
 line-height: 18px;
}

#bg {
 background-color: #099;
 border: 2px solid #fff;
 border-radius: 5px;
 box-shadow: 0 0 0 1px #777, 1px 1px 4px 2px #aaa;
 color: #fff;
 font-size: 30px;
 font-weight: bold;
 height: 57px;
 left: 0;
 line-height: 57px;
 margin: auto;
 position: absolute;
 right: 0;
 text-align: center;
 text-decoration: none;
 text-shadow: 1px 1px 0 #111;
 top: 5%;
 width: 269px;
}

.bg_video {
  position: absolute;
  top: 150px;
  width: 500px;
  left: 0;
  right: 0;
  margin: auto;
}
